target/
!/.mvn/wrapper/maven-wrapper.jar
.idea/
*.iws
*.iml
.vscode/
.apt_generated/
.factorypath/
.project
.classpath
.settings/
.springBeans/
.sts4-cache/
.DS_Store
Thumbs.db
*.log
*.tmp
.env
*.key
*.pem
node_modules/
*.mp4
*.zip
*.apk
*.rar
*.7z
*.tar.gz
